In [ ]:
import numpy as np 
import matplotlib.pyplot as plt 
from tensorflow import keras
from tensorflow.keras.layers import Dense, Flatten
import pandas as pd

In [ ]:
data = pd.read_csv('Facebook+Youtube.csv')

In [ ]:
from sklearn.model_selection import train_test_split


x_train, x_test, y_train, y_test = train_test_split(data[data.columns.drop('Label')], 
                                                    data['Label'], 
                                                    train_size = 0.8, 
                                                    random_state = 0, 
                                                    stratify = data.Label)

y_test

139842    2
49479     1
145745    2
141136    2
80943     1
         ..
5647      1
21774     1
183672    2
80076     1
72283     1
Name: Label, Length: 37775, dtype: int64

In [ ]:
x_train.head()

,Length,ARP,DNS,GQUIC,LLMNR,NBNS,NTP,TCP,TLSv1.2,UDP,...,SMB,SMB2,SSDP,SSL,STUN,TLSv1,DHCPv6,HTTP,SSLv2,TLSv1.3
67172,153,0,0,0.0,0.0,0.0,0.0,0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40502,260,0,0,0.0,0.0,0.0,0.0,0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31950,260,0,0,0.0,0.0,0.0,0.0,0,0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96827,1414,0,0,0.0,0.0,0.0,0.0,1,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
145986,1414,0,0,0.0,0.0,0.0,0.0,1,0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
x_training = np.array(x_train)
y_training_ = np.array(y_train)
y_training = keras.utils.to_categorical(y_training_, 3)

x_tested = np.array(x_test)
y_tested_ = np.array(y_test)
y_tested = keras.utils.to_categorical(y_tested_, 3)

y_training

array([[0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       ...,
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.]], dtype=float32)

In [ ]:
print(len(x_training[7]))

28

In [ ]:
model = keras.Sequential([
    # Flatten(input_shape = (24, 1, 1)), 
    Dense(28, input_dim = 28, activation = 'relu'), 
    # Dense(56, activation = 'relu'),
    Dense(14, activation = 'relu'),
    Dense(3, activation = 'softmax')
])

print(model.summary())

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_23 (Dense)            (None, 28)                812

 dense_24 (Dense)            (None, 14)                406

 dense_25 (Dense)            (None, 3)                 45

=================================================================
Total params: 1,263
Trainable params: 1,263
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
model.compile(optimizer = 'adam', 
              loss = 'categorical_crossentropy', 
              metrics = ['accuracy'])

In [ ]:
model.fit(x = x_training, 
          y = y_training,  
          batch_size = 32, 
          epochs = 3, 
          validation_split = 0.2)

Epoch 1/3
3778/3778 [==============================] - 10s 3ms/step - loss: 0.1138 - accuracy: 0.9728 - val_loss: 0.0982 - val_accuracy: 0.9737
Epoch 2/3
3778/3778 [==============================] - 9s 2ms/step - loss: 0.1092 - accuracy: 0.9735 - val_loss: 0.0853 - val_accuracy: 0.9727
Epoch 3/3
3778/3778 [==============================] - 9s 2ms/step - loss: 0.0995 - accuracy: 0.9743 - val_loss: 0.0767 - val_accuracy: 0.9740

In [ ]:
model.evaluate(x_test, y_tested)

1181/1181 [==============================] - 2s 2ms/step - loss: 0.0722 - accuracy: 0.9751

[0.07215403020381927, 0.9750893712043762]